* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrcVIT9d0c8.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: Raleway;
}

/* HEADER SECTION */

header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  /* TASK 3 - Insert border here */
}
nav li.nav_link {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}

h1 {
  text-decoration: underline;
  font-size: 45px;
}
/* MAIN CONTAINER */
.container {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* COURSE SECTIONS */

.course {
  width: 400px;
  height: 500px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section.starters {
  /* TASK 1 - Insert border here */
}

section.desserts {
  /* TASK 1 - Insert border here */
}

/* MENU STYLING */

h2 {
  /* TASK 2 - Insert border here */
}

.menu_item {
  list-style: none;
  font-size: 18px;
}

hr {
  width: 7px;
  height: 7px;
  background-color: #3f3f3f;
}

/* BUTTON STYLING */

button {
  border: none;
  /* TASK 5 - Insert border and styling in  here */
}

/* FOOTER STYLING */

footer {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* TASK 4 - Insert border here */
}
