body {
  font-family: "Arial", sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 1rem;
}

main {
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

a {
  color: white;
}
